{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DJVS - Data Jounarlism Visual System</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <!-- JQuery chosen Corese CSS -->
    <link href="{% static 'outros/jquery_chosen/css/chosen.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Custon CSS for navbar -->
    <!-- <link href="{% static 'bootstrap/css/navbar-fixed-side.css' %}" rel="stylesheet" /> -->
    <!-- JQuery Query Builder -->
    <link rel="stylesheet" type="text/css" href="{% static 'outros/jquery_queryBuilder/css/query-builder.default.min.css' %}">

    <!-- JQuery -->
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>


    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

    }
    </style>
    
   
    

    <!-- Plotly script -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">DJVS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="{% url 'busca_sql' %}">Busca SQL</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row"></div>

        <div class="row">

            <div class="col-md-12 text-center">
                <form action="" method="POST">
                    <textarea rows="5" cols="50" name="sql_query"> </textarea> 
                    <input type="submit" name="Enviar">
                </form>
            
            </div> 

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">

                <div id="q-builder"></div>
                <script src="{% static 'outros/jquery_queryBuilder/js/app.js' %}"></script>
                <button class="parse-json">Aplicar</button>
                <div id="result" class="hide"></div>

            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Java Scripts files -->

    <!-- jQuery Version 1.11.1 -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script> 
    <!-- Other Core JavaScript -->
    <!-- JQuery Chosen -->
    <script src="{% static 'outros/jquery_chosen/js/chosen.jquery.min.js' %}"></script>
    <!-- JQuery Query Builder -->
    <script src="{% static 'outros/jquery_queryBuilder/js/query-builder.standalone.min.js' %}"></script>
    
    
    

</body>

</html>
